/.vscode
/Memphis-Server/Properties
/Saml2.Authentication.Core
# */*.csproj
*/*.csproj.user
*/*.csproj.vspscc
*/*bin
/packages
/packages
/DGRA/bin
/DGRA_V1/bin
/dgr_web/obj
/dgr_web/bin
/dgr_web/.vscode
/dgr_web/.vs
/DGRA/.vs