@model DGRA_V1.Models.CountryList
@{
    ViewData["Title"] = "Wind Breakdown Details";
}
<!--<script>
    window.onload = function () {
        alert("caal");
    }
</script>-->
<!-- Content Wrapper. Contains page content -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />

<div class="content-wrapper">

    <section class="content-header">
        <!--<div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Wind Approval</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </section>


    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Wind Beakdown</h3>

                <!-- <div class="card-tools">
         <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
             <i class="fas fa-minus"></i>
         </button>

     </div>-->
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group " style="margin-left: -5px; width: 104%;">
                            <label class="col-sm-4 col-form-label text-right">Date : </label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right" id="daterange" name="daterange">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Country : </label>
                                <select class="form-control  col-sm-8" id="country" name="country" value="">

                                    <option value="india" selected>India</option>


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">State : </label>
                                <select class="form-control  col-sm-8" id="state" name="state" value="" onchange="GetSPV(this.value);">
                                    <option value="">Select state</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">SPV : </label>
                                <select class="form-control  col-sm-8" id="spv" name="spv" value="" onchange="getSite()">
                                    <option value="">Select SPV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Site : </label>
                                <select class="form-control  col-sm-8" id="site" name="site" value="" onchange="GetWTG(this.value)">
                                    <option value="">Select site</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">WTG : </label>
                                <select class="form-control  col-sm-8" id="wtg" name="wtg">
                                    <option value="">Select WTG</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 text-center"></div>
                    <div class="col-sm-2 text-center">
                        <button type="button" class="btn btn-block btn-primary" onclick="GetBrekdownReport();">Search</button>
                    </div>
                    <div class="col-sm-5 text-center"></div>
                </div>
                <hr>
                <div id="reports"></div>


            </div>

            <!--<div class="card-footer">
                Footer
            </div>-->

        </div>


    </section>

</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!--Datatable -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#daterange').daterangepicker(
            {
                locale: {
                    format: 'DD/MM/YYYY',
                }
            });
    });
    window.onload = function () {
        var selcountry = $('select#country option:selected').val();
        $.ajax({
            type: "GET",
            url: "/WindReport/GetStateList?countryname=" + selcountry,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select State</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].state + '">' + result[i].state + '</option>';
                }
                $("#state").html(options);
            }
        });
        //getSite();
    }
    /*function GetCountry(val) {
        $.ajax({
            type: "GET",
            url: "/WindReport/GetStateList?countryname=" + val,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select State</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].state + '">' + result[i].state + '</option>';
                }
                $("#state").html(options);
            }
        });
    }*/

    function GetSPV(val) {
        $.ajax({
            type: "GET",
            url: "/WindReport/GetSPVList?state=" + val,
            contentType: "application/json; charset=utf-8",
            //data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select SPV</option>';
                for (var j = 0; j < result.length; j++) {
                    options += '<option value="' + result[j].spv + '">' + result[j].spv + '</option>';
                }
                $("#spv").html(options);
            }
        });
        getSite();
    }
    function getSite() {
        var state = $('select#state option:selected').val();
        var spv = $('select#spv option:selected').val();

        $.ajax({
            type: "POST",
            url: "/WindReport/GetSiteList?state=" + state + "&spv=" + spv,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select Site</option>';
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
            }
        });
    }
    function GetWTG(siteid) {
        $.ajax({
            type: "GET",
            url: "/WindReport/GetWTGList?siteid=" + siteid,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select WTG</option>';
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].wtg + '">' + result[k].wtg + '</option>';
                }
                $("#wtg").html(options);
            }
        });
    }

    function GetBrekdownReport() {

        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var country = $('select#country option:selected').val();
        var state = $('select#state option:selected').val();
        var spv = $('select#spv option:selected').val();
        var site = $('select#site option:selected').val();
        var wtg = $('select#wtg option:selected').val();
        $.ajax({
            type: "GET",
            url: "/WindReport/GetWindBreakdownReport?fromDate=" + fromDate + "&toDate=" + toDate + "&country=" + country + "&state=" + state + "&spv=" + spv + "&site=" + site + "&wtg=" + wtg,
            contentType: "application/json; charset=utf-8",
            // data: '{"fromDate":"' + fromDate + '","toDate":"' + toDate + '","country":"' + country + '","state":"' + state + '","spv":"' + spv + '","site":"' + site + '","wtg":"' + wtg+'" }',
            datatype: "JSON",
            success: function (result, status, xhr) {
                //console.log(result);
                var tbl = '<table id="example1" class="table table-bordered table-striped dataTable dtr-inline">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th style="width:80px;">Date</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>BD Type</th>';
                tbl += '<th>Start From</th>';
                tbl += '<th>Stop To</th>';
                tbl += '<th>Total Stop</th>';
                tbl += '<th>Reason of Breakdown</th>';
                tbl += '<th>Action Taken</th>';
                tbl += '</tr></thead>';
                console.log(result.length);
                if (result.length > 0) {
                    console.log("Datatable");
                    for (var i = 0; i < result.length; i++) {
                        console.log(result[i].date);
                        tbl += '<tr>';
                        tbl += '<td>' + result[i].date + '</td>';
                        tbl += '<td>' + result[i].country + '</td>';
                        tbl += '<td>' + result[i].site + '</td>';
                        tbl += '<td>' + result[i].spv + '</td>';
                        tbl += '<td>' + result[i].site + '</td>';
                        tbl += '<td>' + result[i].wtg + '</td>';
                        tbl += '<td>' + result[i].bd_type_name + '</td>';
                        tbl += '<td>' + result[i].stop_from + '</td>';
                        tbl += '<td>' + result[i].stop_to + '</td>';
                        tbl += '<td>' + result[i].total_stop + '</td>';
                        tbl += '<td>' + result[i].error_description + '</td>';
                        tbl += '<td>' + result[i].action_taken + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");
                    tbl += '<tr><th colspan="12" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#reports").html(tbl);
                $.noConflict();
                $('#example1').DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            }
        });

    }

</script>
