@model DGRA_V1.Models.MonthList
@{
    ViewData["Title"] = "Wind Monthly Target KPI";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <!--<div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Wind Monthly Target KPI</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </section>


    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Wind Monthly Target KPI</h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Financial Year : </label>
                                <select class="form-control  col-sm-8" id="fy" name="fy" value="">
                                    <option value="">Select Financial Year</option>
                                    <!--<option value="2020-21">2020-21</option>
                                    <option value="2021-22">2021-22</option>
                                    <option value="2022-23">2022-23</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Month : </label>
                                <select class="form-control  col-sm-8" id="month" name="month" value="">
                                    @*@foreach (var item in Model)
                                        {
                                           <option value="@item.">@item.name</option>

                                        }*@
                                    <option value="">Select Month</option>
                                    <option value="Jan">January</option>
                                    <option value="Feb">February</option>
                                    <option value="Mar">March</option>
                                    <option value="Apr">April</option>
                                    <option value="May">May</option>
                                    <option value="Jun">June</option>
                                    <option value="Jul">July</option>
                                    <option value="Aug">August</option>
                                    <option value="Sep">September</option>
                                    <option value="Oct">October</option>
                                    <option value="Nov">November</option>
                                    <option value="Dec">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <!-- select -->
                        <button type="button" class="btn btn-block btn-primary" onclick="getReport()">Search</button>
                    </div>
                </div>

            </div>

            <hr>
            <div id="MontlyKPIView" style="overflow-x: auto;" class="MontlyKPIView"></div>
        </div>



</div>


    </section>

</div>
<!-- /.content-wrapper -->
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/theme/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/theme/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>-->
<!--Date Range -->
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>

<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script type="text/javascript">

    window.onload = function () {
        $.ajax({
            type: "GET",
           // url: "/WindReport/GetFinacialYear",
            url: '@Url.Action("GetFinacialYear", "WindReport")',
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select Financial Year</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].financial_year + '">' + result[i].financial_year + '</option>';
                }
                $("#fy").html(options);
            }
        });
    }
    function getReport() {
        var year = $('select#fy option:selected').val();
        var month = $('select#month option:selected').val();
        // var year = "2021-22";
        //var month = "Apr";
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMonthlyTargetKPI", "WindView")' + '?year=' + year + '&month=' + month,
           // url: "/WindView/GetMonthlyTargetKPI?year=" + year + "&month=" + month,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "JSON",
            success: function (result, status, xhr) {
                console.log(result);
                var tbl = '<table id="example1" class="table table-bordered table-striped">';
                tbl += '<thead  class="tbl-head"><tr>';
                tbl += '<th style="width:90px">FY</th>';
                tbl += '<th>Month</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>Wind Speed(m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>MA(%)</th>';
                tbl += '<th>IGA(%)</th>';
                tbl += '<th>EGA(%)</th>';
                tbl += '<th>PLF(%)</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + result[i].fy + '</td>';
                        tbl += '<td class="text-left">' + result[i].month + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-right">' + result[i].windSpeed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {

                    // tbl += '<tr><th colspan="9" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#MontlyKPIView").html(tbl);
                $.noConflict();
                $('#example1').DataTable({
                    "responsive": false, "lengthChange": false, "autoWidth": false,
                    "buttons": ["csv", "excel","colvis"],
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": false,
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example1').removeClass('dataTable');
            }
        });
    }
</script>